* {
    box-sizing: border-box;
}
 body {
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}
.hero {
    background: linear-gradient(to bottom right, #A95D8D, #6248B6, #5B4AAC, #21178C, #20168B);
    margin-bottom: 0;
}

.header {
    margin-top: 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.header .logo {
    /* margin-top: 13px; */
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 70px;
    /* margin-bottom: 34px; */
}

.header .logo span {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
}

.header nav {
    margin-right: 70px;
    margin-top: 21px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 18px;
}

.header .border-button {
    border: 2px solid white;
    border-radius: 40px;
    padding: 17px 62px;
    font-weight: 600;
    /* margin-left: 40px; */
}
.header nav ul {
    display: flex;
    flex-direction: row; 
    padding: 0;
}
.header nav li {
    list-style-type: none;
    padding-left: 58px;
    /* padding-right: 58px; */
}

.section-intro {
    display: flex;
    margin-top: 50px;
    margin-left: 70px;
    position: relative;
}

.section-intro .caption {
    color: #ffffff;
    padding-top: 118px;
    width: 700px;
}

.section-intro .caption .start-saving .green-text{
    text-transform: uppercase;
    color: #5EEE04;
    font-weight: 600;
    font-size: 24px;
    padding-left: 10px;
}
.section-intro .caption .caption-big {
    font-size: 60px;
    font-weight: 700;
    padding-right: 40px;
}
.section-intro .caption .caption-little {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
}

.section-intro .hero-illustration {
    position: absolute;
    left: 810px;
    top: 100px;
}

.section-intro .caption .button {
    display: inline-block;
    margin-top: 45px;
    padding: 17px 62px;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
}
.section-intro .caption .button-register {
    background-color: #6C63FF;
    border: 2px solid #6C63FF;
}
.section-intro .caption .button-intro {
    border: 2px solid #ffffff;
    margin-left: 20px;
}
.section-intro .caption .button-intro .icon-play {
    vertical-align: middle;
}
.section-intro .caption .button-intro span {
    padding-left: 7px;
    vertical-align: middle;
}

ul {
    margin: 0;
}

.icons-sm {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
.icons-sm li {
    list-style-type: none;
    padding: 0;
}
.icons-sm .icon-facebook {
    padding-top: 10px;
    padding-bottom: 89px;
}

/* section-1 properties */
.section-1 {
    background-color: #FFED79;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
}

.section-1 .welcome-to {
    color: #43378A;
    width: 100%;
    font-weight: 600;
    text-align: left;
    font-size: 30px;
    padding: 175px 0 173px 70px; 
    text-align: left;
    line-height: 148%
}

.section-1 .vertical-line {
    /* padding-left: ; */
    background: #827CC5; 
    height: 154px;
    width: 1px;
}
.section-1 .magic-brief {
    margin: 127px 70px 126px 60px;
    color: #706AB5;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
}

.container {
    background-color: #452C8C;
}
.section-2 {
    display: flex;
    padding: 151px 75px 0px;
    justify-content: center;
    position: relative;
}

.section-2 .image-map {
    display: flex;
    align-items: center;
}
.business-solution {
    padding-left: 70px;
}
.section-2 .business-solution h2 {
    color: #FFED79;
    font-size: 40px;
    font-weight: 600;
}
